<section id="signup">
  <div class="container">
    <div class="row">
      <div class="wpb_column hcode-column-container vc_col-sm-6 vc_col-md-5 col-xs-mobile-fullwidth">
        <div class="vc-column-innner-wrapper">
          <h1 class="section-title no-padding black-text">
            Build effective, landing pages in minutes.
          </h1>
          <p class="text-med width-90 margin-five">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          </p>
        </div>
      </div>
      <div class="wpb_column hcode-column-container vc_col-sm-6 vc_col-md-offset-2 vc_col-md-5 col-xs-mobile-fullwidth"><div class="vc-column-innner-wrapper"><div class="wpcf7 js" id="wpcf7-f5828-p53-o1" lang="en-US" dir="ltr"><div class="screen-reader-response"><p role="status" aria-live="polite" aria-atomic="true"></p><ul></ul></div><form action="/onepage-landing-page/#wpcf7-f5828-p53-o1" method="post" class="wpcf7-form init" aria-label="Contact form" novalidate="novalidate" data-status="init"><div style="display: none;"> <input type="hidden" name="_wpcf7" value="5828"> <input type="hidden" name="_wpcf7_version" value="5.7.7"> <input type="hidden" name="_wpcf7_locale" value="en_US"> <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f5828-p53-o1"> <input type="hidden" name="_wpcf7_container_post" value="53"> <input type="hidden" name="_wpcf7_posted_data_hash" value=""></div><div class="login-box no-box-shadow no-border-round bg-gray"><p class="title-small font-weight-600 margin-five no-margin-top black-text">Free 30 day trial</p><div class="form-group no-margin-bottom"><p><span class="wpcf7-form-control-wrap" data-name="your-name"><input size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="YOUR NAME" value="" type="text" name="your-name"></span></p></div><div class="form-group no-margin-bottom"><p><span class="wpcf7-form-control-wrap" data-name="email-251"><input size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="YOUR EMAIL" value="" type="email" name="email-251"></span></p></div><p class="no-margin"><input class="wpcf7-form-control has-spinner wpcf7-submit btn-success btn btn-medium button button-3d btn-round no-margin" type="submit" value="Start your free trial"><span class="wpcf7-spinner"></span></p></div><div class="wpcf7-response-output" aria-hidden="true"></div></form></div></div></div></div></div></section>
